MINEMATE_PORT=8080
MINEMATE_DATA_PATH=./data
# Set this to the LAN address of your Docker host.
MINEMATE_LAN_IP=192.168.1.50
MINEMATE_BIND_ADDRESS=0.0.0.0
MINEMATE_IMAGE=ghcr.io/elias02345/minemate:0.1.0
MINEMATE_JAVA_PORT_START=25565
MINEMATE_JAVA_PORT_END=65535
MINEMATE_BEDROCK_PORT_START=19132
MINEMATE_BEDROCK_PORT_END=65535
MINEMATE_SECURE_COOKIES=false
MINEMATE_TRUST_PROXY=false
TZ=Europe/Berlin
